## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
pkg
doc
.yardoc
*.gem
Gemfile.lock
.bundle
vendor/ruby

## PROJECT::SPECIFIC
.rbenv-version
.rbx
.ruby-version
